body {
    margin: 0;
    padding: 0;
}

.tab__list {
    width: 25%;
}
.tab  { 
    height: 100px;
}

.tab__panel{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 0;
}

.tab__header{
    height: 10%;
    padding: 1rem;
}

.tab__message{
    height: 70%;
    background-color: #1ff354;
    color: #ffff;
    text-align: right;
}

.tab__message-sender{
    /* background-color: #25e23e;;
    padding:  0 0 0 0.5rem;
    color: #ffff; */
    text-align: right;
}

.tab__message-other{
    /* background-color: #9ba19c;;
    color: #ffff; */
    text-align: left;
}

.tab__input-container {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 2px solid #000
}